deepspeed==0.16.5
flake8==7.2.0
intel_extension_for_pytorch==2.6.0
librosa==0.11.0
matplotlib==3.10.1
numpy==2.2.4
onnx==1.17.0
onnxruntime==1.21.0
pytest==8.3.5
PyYAML==6.0.2
sentencepiece==0.2.0
six==1.17.0
soundfile==0.13.1
tensorboardX==2.6.2.2
textgrid==1.6.1
torch==2.5.1
torchaudio==2.5.1
websockets==15.0.1
